doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='../public/stylesheets/base.css')
  body
    block content
  footer
    script#hs-script-loader(type='text/javascript', async='', defer='', src='//js.hs-scripts.com/5201308.js')
